<!DOCTYPE html>
<html ng-app="userApp">
<title><%= pageTitle %></title> 
<% include includes/header.ejs %>

<div class="container" ng-controller="transactionCtrl">
  <div class="page-header text-center">
        <h2><span class="glyphicon glyphicon-cutlery"></span>&nbsp;Affilié</h2> 
        <h3>Bienvenue <%= user.Affilie.prenom %>&nbsp;<%= user.Affilie.nom %></h3>
        <a href="/logout" class="btn btn-default btn-sm">Se déconnecter</a>
  </div>
  <div class="page-header text-center">
    <p>
      <strong>Nom d'utilisateur</strong> : <%= user.username %><br>
      <strong>Identifiant</strong> : <%= user.idAffilie %><br>
      <strong>Nom du Restaurant :</strong> : <%= user.Affilie.NomRestaurant %><br>
      <strong>Nom du responsable</strong> : <%= user.Affilie.nom %><br>
      <strong>Prénom du responsable</strong> : <%= user.Affilie.prenom %><br>
      <strong>Adresse</strong> : <%= user.Affilie.adresse %>&nbsp;<%= user.Affilie.ville %><br>
      <strong>RIB</strong> : <%= user.Affilie.RIB %><br>

    </p>
  </div>

    <div class=".col-xs-12 .col-md-8"><h1>Liste des Transactions :</h1>
      <table style="width:100%">
        <tr>   
          <td style="vertical-align: top">
            <table class="table">
              <tr>
                <th>Numéro de transaction
                </th>
                <th>Montant
                </th>
                <th>Date de l'opération
                </th>
                <th>Numéro de carte
                </th>
                <th>Identifiant affilié
                </th>
              </tr>
              <tr ng-repeat="transaction in transactions">
                <td>{{transaction.NumeroDeTransaction}}
                </td>
                <td>{{transaction.Montant}}
                </td>
                <td>{{transaction.date}}
                </td>
                <td>{{transaction.NumeroCarte}}
                </td>
                <td>{{transaction.idAffilie}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
 

  <div class=".col-xs-6 .col-md-4" ng-controller="passwordCtrl">
      <h1 id="update-password"><i class="fa fa-unlock"></i>&nbsp;Modifier votre mot de passe :</h1>
      <form style="margin-bottom:80px;" name="passwordForm" ng-submit="updatePassword3()" novalidate>
        <div class="form-group">
          <label><h4>Entrer votre ID :</h4></label>
            <input type="text" class="form-control" ng-model="user.idAffilie" name="idAffilie" required="name"><span ng-show="passwordForm.idAffilie.$error.required">Ce champ doit être renseigné.</span><br>
            <label><h4>Nouveau mot de passe :</h4></label>
            <input type="text" class="form-control" ng-model="user.mdp" name="mdp" required="name"><span ng-show="passwordForm.mdp.$error.required">Ce champ doit être renseigné.</span><br>
            <label><h4>Confirmer mot de passe</h4></label> 
            <input type="password" class="form-control" ng-model="user.password" name="password" required="name"><span ng-show="passwordForm.password.$error.required">Ce champ doit être renseigné.</span><br>
            <button type="submit" class="btn btn-info btn-lg" ng-disabled="passwordForm.$invalid" ng-click="successAlert3()">Valider</button><br><br>
            <flash-message duration="10" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
        </div>
      </form>
  </div>
   </div>
<br><br><br>
</body>
<% include includes/footer.ejs %>
    
</html>