<!DOCTYPE html>
<html ng-app="userApp">
  <head>
    <title>Aventix - Mon espace Personnel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">

    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/dirPagination.js"></script>
    <script src="js/angular-flash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

  </head>

<body>


  <nav class="navbar navbar">
    <div class="container-fluid" style="height:120px;">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" alt="Logo - Aventix" /></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form style="margin-top:40px;" action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only">Rechercher</label>
              <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </li>
        <li><a class="btn btn-link" href="/Profile" style="margin-top:35px;"><span class="fa fa-user"></span>&nbsp;&nbsp;<%= user.username %></a>
        </li>
      </ul>
  </div>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li id="navbarMenu" class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#">Société</a></li>
        <li><a href="#">Carte Aventix</a></li>
        <li><a href="#">Bénéficiaire</a></li>
        <li><a href="#">Décideur</a></li>
        <li><a href="#">Affiliés</a></li>
        <li><a href="/geolocalisation">Geolocalisation Restaurants</a></li>
    </ul>

  <ul class="nav navbar-nav navbar-right social">
    <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
  </ul>
  </div>

  <ul class="breadcrumb">
    <li><a href="/">Accueil</a></li>
    <li><a href="/profile">Profil : <%= user.username %></a></li>
  </ul>
</nav>

<div class="container">
  <div class="page-header text-center">
    <h2><span class="glyphicon glyphicon-credit-card"></span></h2>
    <h2>Bénéficiaire</h2> 
    <h3>Bienvenue <%= user.Beneficiaire.prenom %>&nbsp;<%= user.Beneficiaire.nom %></h3>
      <a href="/logout" class="btn btn-default btn-sm">Se déconnecter</a>
  </div>

  <div class="page-header text-center">
    <p>
      <strong>Votre nom d'utilisateur</strong> : <%= user.username %><br>
      <strong>Votre identifiant</strong> : <%= user.idBeneficiaire %><br>
      <strong>Votre status :</strong> : <%= user.Beneficiaire.Status %><br>
      <strong>Votre nom</strong> : <%= user.Beneficiaire.nom %><br>
      <strong>Votre prénom</strong> : <%= user.Beneficiaire.prenom %><br>
      <strong>Votre adresse</strong> : <%= user.Beneficiaire.adresse %>&nbsp;<%= user.Beneficiaire.cp %>&nbsp;<%= user.Beneficiaire.ville %><br>
      <strong>Votre email</strong> : <%= user.Beneficiaire.email %><br>
    </p>
  </div>

  <div ng-controller="beneficiaireCtrl" class=".col-xs-12 .col-md-8">
    <h1>Informations Personelles :</h1>
    <table style="width:100%">
      <tr>   
        <td style="vertical-align: top">
          <table class="table">
            <tr>
              <th>Identifiant
              </th>
              <th>Nom
              </th>
              <th>Prénom
              </th>
              <th>Status
              </th>
              <th>Numéro de Carte
              </th>
              <th>Etat de la carte
              </th>
              <th>Solde
              </th>
            </tr>
            <tr ng-repeat="solde in soldes">
              <td>{{solde.idBeneficiaire}}
              </td>
              <td>{{solde.nom}}
              </td>
              <td>{{solde.prenom}}
              </td>
              <td>{{solde.Status}}
              </td>
              <td>{{solde.NumeroCarte}}
              </td>
              <td>{{solde.carteAPuce.etat}}
              </td>
              <td>{{solde.carteAPuce.solde}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div ng-controller="lastTransactionCtrl" class=".col-xs-12 .col-md-8"><h1>Dernières transactions :</h1>
      <table style="width:100%">
        <tr>   
          <td style="vertical-align: top">
            <table class="table">
              <tr>
                <th>Numéro de transaction
                </th>
                <th>Montant
                </th>
                <th>Date de l'opération
                </th>
                <th>Numéro de carte
                </th>
                <th>Identifiant affilié
                </th>
              </tr>
              <tr ng-repeat="transaction in transactions">
                <td>{{transaction.NumeroDeTransaction}}
                </td>
                <td>{{transaction.Montant}}
                </td>
                <td>{{transaction.date}}
                </td>
                <td>{{transaction.NumeroCarte}}
                </td>
                <td>{{transaction.idAffilie}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <div class=".col-xs-6 .col-md-4" ng-controller="codeCtrl">
      <h1 id="updateNumeroCarte"><i class="fa fa-unlock"></i>&nbsp;Modifier votre code de Carte :</h1>
      <form style="margin-bottom:80px;" name="codeForm" ng-submit="updateCode()" novalidate>
        <div class="form-group">
          <label><h4>Entrer votre Numéro de carte :</h4></label>
            <input type="text" class="form-control" ng-model="beneficiaire.NumeroCarte" name="NumeroCarte" required="name"><span ng-show="passwordForm.NumeroCarte.$error.required">Ce champ doit être renseigné.</span><br>
            <label><h4>Nouveau code de carte :</h4></label>
            <input type="text" class="form-control" ng-model="beneficiaire.CodCarte" name="CodeCarte" required="name"><span ng-show="passwordForm.CodCarte.$error.required">Ce champ doit être renseigné.</span><br>
            <label><h4>Confirmer code de carte</h4></label> 
            <input type="password" class="form-control" ng-model="beneficiaire.CodeCarte" name="CodeCarte" required="name"><span ng-show="passwordForm.CodeCarte.$error.required">Ce champ doit être renseigné.</span><br>
            <button type="submit" class="btn btn-info btn-lg" ng-disabled="codeForm.$invalid" ng-click="successAlertCode()">Valider</button><br><br>
            <flash-message duration="10000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
        </div>
      </form>
  </div>
    

    
  <div class=".col-xs-6 .col-md-4" ng-controller="passwordCtrl">
      <h1 id="update-password"><i class="fa fa-unlock"></i>&nbsp;Modifier votre mot de passe :</h1>
      <form style="margin-bottom:80px;" name="passwordForm" ng-submit="updatePassword()" novalidate>
        <div class="form-group">
          <label><h4>Entrer votre ID :</h4></label>
            <input type="text" class="form-control" ng-model="user.idBeneficiaire" name="idBeneficiaire" required="name"><span ng-show="passwordForm.password.$error.required">Ce champ doit être renseigné.</span><br>
            <label><h4>Nouveau mot de passe :</h4></label>
            <input type="text" class="form-control" ng-model="user.mdp" name="pass" required="name"><span ng-show="passwordForm.mdp.$error.required">Ce champ doit être renseigné.</span><br>
            <label><h4>Confirmer mot de passe</h4></label> 
            <input type="password" class="form-control" ng-model="user.password" name="password" required="name"><span ng-show="passwordForm.password.$error.required">Ce champ doit être renseigné.</span><br>
            <button type="submit" class="btn btn-info btn-lg" ng-disabled="passwordForm.$invalid" ng-click="successAlert3()">Valider</button><br><br>
            <flash-message duration="10000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
        </div>
      </form>
  </div>
  <div  class="col-md-6" style="margin-bottom:80px;">
    <strong>Carte volée ou perdue</strong> : <br><br>
      <a href="/contact" class="btn btn-default btn-sm"><span class="glyphicon glyphicons-direction"></span>Contactez-nous</a>
  </div>

  

</div>

<footer class="footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" width="100px" height="35px" alt="Logo - Aventix" /></a>
      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mon Compte</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Plan du site</a></li>
    </ul>
  </div>
</footer>

</body>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

</html>