<!DOCTYPE html>
<html ng-app="userApp">
    <head>
      <title>Aventix - Mon espace Personnel</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
        
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/dirPagination.js"></script>
        <script src="js/angular-flash.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

      
          <script type="text/javascript">
          // var userApp = angular.module('userApp', ['ui.bootstrap']);
          // userApp.controller('userCtrl', function ($scope, $http){
          // $http.get('http://localhost:3000/userslist').success(function(data) {
          // $scope.users = data.Utilisateurs;
          //   });
          // });
          

            //           var userApp = angular.module('userApp', ['ngTouch', 'ui.grid', 'ui.grid.pagination']);
             
            // userApp.controller('userCtrl', ['$scope', '$http', function ($scope, $http) {
            //   $scope.gridOptions1 = {
            //     paginationPageSizes: [25, 50, 75],
            //     paginationPageSize: 25,
            //     columnDefs: [
            //       { name: 'id' },
            //       { name: 'username' },
            //       { name: 'password' }
            //     ]
            //   };
             
            //   $scope.gridOptions2 = {
            //     enablePaginationControls: false,
            //     paginationPageSize: 25,
            //     columnDefs: [
            //       { name: 'id' },
            //       { name: 'username' },
            //       { name: 'password' }
            //     ]
            //   };
             
            //   $scope.gridOptions2.onRegisterApi = function (gridApi) {
            //     $scope.gridApi2 = gridApi;
            //   }
             
            //   $http.get('http://localhost:3000/userslist')
            //   .success(function (data) {
            //     $scope.gridOptions1.data = data.Utilisateurs;
            //     $scope.gridOptions2.users = data.Utilisateurs;
            //   });
            // }]);

          </script>
            <style>
              
              #drop{
               border:2px dashed black;
                  -moz-border-radius:5px;
                  -webkit-border-radius:5px;
                  border-radius:5px;
                  padding:25px;
                  text-align:center;
                  font:20pt bold,"Vollkorn";color:black
              }

              #b64data{
                width:100%;
              }


 
          </style>
</head>

<body>

      
<nav class="navbar navbar">
  <div class="container-fluid" style="height:120px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" alt="Logo - Aventix" /></a>

    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><form style="margin-top:40px;" action="" class="search-form">
                  <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Rechercher</label>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Rechercher">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form></li><li><a class="btn btn-link" href="/Profile" style="margin-top:35px;"><span class="fa fa-user"></span>&nbsp;&nbsp;<%= user.username %></a></li>
        </ul>
    </div>
</div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="navbarMenu" class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#">Société</a></li>
        <li><a href="#">Carte Aventix</a></li>
        <li><a href="#">Utilisateurs</a></li>
        <li><a href="#">Entreprise</a></li>
        <li><a href="#">Restaurateurs</a></li>
        <li><a href="/geolocalisation">Geolocalisation Restaurants</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div>
      
      <ul class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li><a href="/profile">Profil : <%= user.username %></a></li>
      </ul>

</nav>
<div class="page-header text-center" >
         <h2><span class="glyphicon glyphicon-briefcase"></span></h2>
         <h2>Décideur</h2>
        <h3>Bienvenue <%= user.Decideur.prenom %>&nbsp;<%= user.Decideur.nom %>
</h3>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
<div class="container">
  <div class="page-header text-center">
    <p>
      <strong>Nom d'utilisateur</strong> : <%= user.username %><br>
      <strong>Identifiant</strong> : <%= user.idDecideur %><br>
      <strong>Nom de la société :</strong> : <%= user.Decideur.NomSociete %><br>
      <strong>Nom</strong> : <%= user.Decideur.nom %><br>
      <strong>Prénom</strong> : <%= user.Decideur.prenom %><br>
      <strong>Adresse</strong> : <%= user.Decideur.adresse %>&nbsp;<%= user.Decideur.cp %>&nbsp;<%= user.Decideur.ville %><br>
      <strong>Email</strong> : <%= user.Decideur.email %><br>
    </p>
  </div>
    


<div class=".col-xs-12 .col-md-8" ng-controller="decideurCtrl"><h1>Liste des Bénéficiaires :</h1>
  <form class="form-inline">
        <div class="form-group">
            <label >Rechercher</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
  <table style="width:100%">
    <tr>   
      <td style="vertical-align: top">
            <table class="table">
              <tr>
                <th ng-click="sort('idBeneficiaire')">Id&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='idBeneficiaire'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('nom')">Nom du béneficiaire<span class="glyphicon sort-icon" ng-show="sortKey=='nom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('prenom')">Prenom du béneficiaire<span class="glyphicon sort-icon" ng-show="sortKey=='prenom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('adresse')">Adresse du béneficiaire<span class="glyphicon sort-icon" ng-show="sortKey=='adresse'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('cp')">Code Postal du béneficiaire<span class="glyphicon sort-icon" ng-show="sortKey=='cp'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('ville')">Ville du béneficiaire<span class="glyphicon sort-icon" ng-show="sortKey=='ville'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('email')">Adresse Mail du béneficiaire<span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('Status')">Status du béneficiaire<span class="glyphicon sort-icon" ng-show="sortKey=='Status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('NumeroCarte')">Numéro de carte du béneficiaire<span class="glyphicon sort-icon" ng-show="sortKey=='NumeroCarte'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
              </tr>
              <tr dir-paginate="beneficiaire in beneficiaires | orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                <td>{{beneficiaire.idBeneficiaire}}
                </td>
                <td>{{beneficiaire.nom}}
                </td>
                <td>{{beneficiaire.prenom}}
                </td>
                <td>{{beneficiaire.adresse}}
                </td>
                <td>{{beneficiaire.cp}}
                </td>
                <td>{{beneficiaire.ville}}
                </td>
                <td>{{beneficiaire.email}}
                </td>
                <td>{{beneficiaire.Status}}
                </td>
                <td>{{beneficiaire.NumeroCarte}}
                </td>         
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>
    </div>

<div ng-controller="FlashCtrl">    

    <div class=".col-xs-6 .col-md-4">

    <h1><span class="fa fa-sign-in"></span> Créer un compte beneficiaire</h1>

  <div class=".col-xs-6 .col-md-4" ng-controller="carteCtrl">
      <h3 id="souscription_benef">Souscrire de nouveaux beneficiaires</h3>
      <form style="margin-bottom:80px;" name="carteForm" ng-submit="pushCarte()" novalidate>
        <div class="form-group">
            <label><h4>Sélectionner le nombre de cartes</h4></label>
            <input type="text" class="form-control" ng-model="nombreCarte" name="nombreCarte" required="name"><span ng-show="carteForm.nombreCarte.$error.required">Ce champ doit être renseigné.</span><br>
            <label><h4>Sélectionner le solde</h4></label> 
            <input type="text" class="form-control" ng-model="solde" name="solde" required="name"><span ng-show="carteForm.solde.$error.required">Ce champ doit être renseigné.</span><br><br> 
            <button type="submit" class="btn btn-info btn-lg" ng-disabled="carteForm.$invalid" ng-click="successAlert()">Créer cartes</button><br><br>
            <flash-message duration="10000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
        </div>
      </form>
  </div>   
<div ng-controller="pushCtrl">
    <!-- LOGIN FORM -->
    <h1><span class="fa fa-user-plus"></span> Créer un compte beneficiaire</h1>
    <form style="margin-bottom:80px;" name="beneficiaireForm" ng-submit="pushData()" novalidate>
        <div class="form-group">
            <label>Nom du Bénéficiaire</label>
            <input type="text" class="form-control" ng-model="nom" name="nom" required="name"><span ng-show="beneficiaireForm.nom.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>Prénom du bénéficiaire</label>
            <input type="text" class="form-control" ng-model="prenom" name="prenom" required="name"><span ng-show="beneficiaireForm.prenom.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>Adresse du bénéficiaire</label>
            <input type="text" class="form-control" ng-model="adresse"name="adresse"><span ng-show="beneficiaireForm.adresse.$error.required" required="name">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>Ville du Bénéficiaire</label>
            <input type="text" class="form-control" ng-model="ville" name="ville" required="name"><span ng-show="beneficiaireForm.ville.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>Code postal du Bénéficiaire</label>
            <input type="text" class="form-control" ng-model="cp" name="codePostal" required="name"><span ng-show="beneficiaireForm.codePostal.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" ng-model="email" name="email" required="email"><span ng-show="beneficiaireForm.email.$error.required">Ce champ doit être renseigné.</span><span ng-show="beneficiaireForm.email.$error.email">Ce n'est pas un mail valide.</span>
        </div>
        <div class="form-group">
            <label>Numéro De Carte</label>
            <input type="text" class="form-control" ng-model="numero" name="numéro" required="name"><span ng-show="beneficiaireForm.numero.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>ID Décideur</label>
            <input type="text" class="form-control" ng-model="idDecideur" name="idDecideur" required="name"><span ng-show="beneficiaireForm.idDecideur.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" ng-model="Status" name="Status" required="name"><span ng-show="beneficiaireForm.Status.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <button type="submit" class="btn btn-info btn-lg" ng-disabled="beneficiaireForm.$invalid" ng-click="successAlert2()">Insérer</button><br><br>
        <flash-message duration="10000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>

    </form>
  </div>
</div>



    <div class=".col-xs-6 .col-md-4">
    <h1><span class="fa fa-user-plus"></span> Créer le compte Utilisateur du beneficiaire</h1>
    <!-- LOGIN FORM -->
    <form style="margin-bottom:80px;" name="userForm" action="/signup" method="post" novalidate>
        <div class="form-group">
            <label>idBeneficiaire</label>
            <input type="text" class="form-control" name="idBeneficiaire" required="name"><span ng-show="userForm.idBeneficiaire.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>Login</label>
            <input type="text" class="form-control" name="username" required="name"><span ng-show="userForm.username.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" name="password" required="password"><span ng-show="userForm.password.$error.required">Ce champ doit être renseigné.</span>
        </div>
        <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-info btn-lg">Créer</button>
    </form>
    </div>
</div>

      <h1><span class="fa fa-sign-in"></span> Import en masse de bénéficiaires</h1>
          </select><br />
          <p>Souscrire vos employés à l'offre Aventix n'a jamais été aussi simple! Glissez votre fichier excel ci-dessous et vos employés sont dans nos bases de données  </p>
          <div class="dropper" id="drop">Deposer un fichier Excel ici!( XLSX / XLS / XML )</div>
          <p><input type="file" name="xlfile" id="xlf" /> </p>
           <p style="float:left"> ... ou cliquer ci-dessus pour selectionner un dossier</p>

          <a href="#more_option" data-toggle="collapse">
              <img src="img/logo_aventix.png" alt="Random Name">
          </a> 
          <div id="more_option" class="collapse"> 
              Output Format:
              <select name="format">
              <option value="json" selected > JSON</option>
              Advanced Demo Options: <br />
              Use Web Workers: (when available) <input type="checkbox" name="useworker" checked><br />
              Use Transferrables: (when available) <input type="checkbox" name="xferable" checked><br />
              Use readAsBinaryString: (when available) <input type="checkbox" name="userabs" checked><br />
              <pre id="out"></pre>
            </select>
          </div>
    </div>
</div>
          <!-- les scripts utiles pour le DragAndDrop 
      ATTENTION!! ne pas les mettre au debut du document sinon les scripts s'executent avant le chargement complet de la page 
      et survient erreur car ne trouve pas l'element drop -->
      



<footer class="footer">
    <div class="container">
        <ul class="nav navbar-nav">
             <a class="navbar-brand" href="/"><img src="img/logo_aventix.png" width="100px" height="35px" alt="Logo - Aventix" /></a>
                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mon Compte</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Plan du site</a></li>
      </ul>
    </div>
</footer>
</body>
    
      <script src="js/jquery-1.11.3.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js-xlsx-master/shim.js"></script>
      <script src="js-xlsx-master/jszip.js"></script>
      <script src="js-xlsx-master/xlsx.js"></script>
      <script src="js-xlsx-master/ods.js"></script>
      <script lang="javascript" src="js-xlsx-master/dist/xlsx.core.min.js"></script>
      <script src="js/DragAndDrop.js"></script>   
</html>